<div class="wrapper">
  <section class="content">
    <div class="columns">
      <main class="main">

        <h1>Airlines</h1>

        <form method="get" action="/airlines/new">

          <button class="button2">Add a new Airline</button>

        </form>

        <table>
          <tr>
            <th>Name</th>

            <th>Website</th>

            <th>Logo</th>
          </tr>
          <% for airline in @airlines %>
          <tr>
            <td><%= airline.airline_name %></td>

            <td>
              <a target="_blank" href="https://www.<%= airline.website %>"><%= airline.website %></a>
            </td>

            <td><img height="50px" src="../images/airline_logos/<%= airline.logo %>"></td>
            <td>
              <form method="get" action="/airlines/<%= airline.id %>/edit">
                <button class="button2">Edit</button>
              </form>
            </td>
          </tr>
          <% end %>
        </table>





    </main>
    <aside class="sidebar-first"></aside>
    <aside class="sidebar-second"></aside>
  </div>
</section>
</div>
