<h2>Edit Flight</h2>
<form method="post" action="/flights/<%= @flight.id %>">
  <input type="hidden" name="_method" value="put"/>

    <div class="field-group">
      <label for="flight_number">Flight Number:</label>
      <div class="field">
        <input
          type="text"
          name="flight_number"
          id="flight_number"
          value="<%= @flight.flight_number %>"
          required/>
      </div>
    </div>

    <div class="field-group">
      <label for="ticket_cost">Ticket Price:</label>
      <div class="field">
        <input
          type="number"
          name="ticket_cost"
          id="ticket_cost"
          value="<%= @flight.ticket_cost %>"
          required/>
      </div>
    </div>

    <div class="field-group">
      <label for="flight_date">Date:</label>
      <div class="field">
        <input
          type="date"
          name="flight_date"
          id="flight_date"
          value="<%= @flight.flight_date %>"
          required/>
      </div>
    </div>

    <div class="field-group">
      <label for="available_seats">Available Seats:</label>
      <div class="field">
        <input
          type="number"
          name="available_seats"
          id="available_seats"
          value="<%= @flight.available_seats %>"
          required/>
      </div>
    </div>

    <div class="field-group">
      <label for="capacity">Total Seats:</label>
      <div class="field">
        <input
          type="number"
          name="capacity"
          id="capacity"
          value="<%= @flight.capacity %>"
          required/>
      </div>
    </div>





    <div class="field-group">
      <label for="airline_select">Airline:</label>
      <select name="airline_id" id="airline_select">
        <% @airlines.each do |airline| %>
        <option value="<%= airline.id %>"<%= "selected" if @flight.airline_id == airline.id %> ><%= airline.airline_name %></option>
        <% end %>
      </select>
    </div>

    <div class="field-group">
      <label for="departure_select">Departure:</label>
      <select name="departure_id" id="departure_select">
        <% @departures.each do |departure| %>
        <option value="<%= departure.id %>"<%= "selected" if @flight.departure_id == departure.id %>><%= departure.departure_airport_name %></option>
        <% end %>
      </select>
    </div>

    <div class="field-group">
      <label for="destination_select">Destination:</label>
      <select name="destination_id" id="destination_select">
        <% @destinations.each do |destination| %>
        <option value="<%= destination.id %>"<%= "selected" if @flight.destination_id == destination.id %> ><%= destination.destination_airport_name %></option>
        <% end %>
      </select>
    </div>

    <div class="field-group">
      <label for="destination_select">Status:</label>
      <select name="status" id="status">
        <option value="Available">Available</option>
        <option value="Cancelled">Cancelled</option>
      </select>
    </div>

    <button class="big-button button">Submit Flight</button>

</form>
