<h1>Flights</h1>

<table>
  <tr>
    <th>Date</th>
    <th></th>
    <th>Number</th>
    <th></th>
    <th>Departure</th>
    <th></th>
    <th>Destination</th>
    <th></th>
    <th>Airline</th>
    <th></th>
    <th>Status</th>
  </tr>
  <% for flight in @flights %>
  <tr>
    <td><%= flight.flight_date %></td>
    <td>|</td>
    <td><%= flight.flight_number %></td>
    <td>|</td>
    <td><%= flight.departure.departure_airport_name %></td>
    <td>|</td>
    <td><%= flight.destination_id %></td>
    <td>|</td>
    <td><%= flight.airline_id %></td>
    <td>|</td>
    <td><%= flight.status %></td>
  </tr>
  <% end %>
</table>
