<div class="wrapper">
  <section class="content">
    <div class="columns">
      <main class="main">

        <form method="get" action="/flights/new">
          <span class="heading_pop">Search</span>
          <button class="button3">Add a new Flight</button>

        </form>

        <div class="upper_margin">
          <form class="flex-form form-width" method="post" action="../flights/search">

            <label for="from">Date</label>
            <input type="date" name="flight_date" value="2017-12-01">

            <label for="from">Fae</label>

            <select name="departure_id" id="departure_select">
              <option value="-1">Search All</option>
              <% @departures.each do |departure| %>
              <option value="<%= departure.id %>"><%= departure.departure_city %></option>
              <% end %>
            </select>

            <label for="from">Tae</label>

            <select name="destination_id" id="destination_select">
              <option value="-1">Search All</option>
              <% @destinations.each do |destination| %>
              <option value="<%= destination.id %>"><%= destination.destination_city %></option>
              <% end %>
            </select>

            <input class="button1" type="submit" value="Go">

          </form>
        </div>
        <table>
          <tr>
            <th>Travel_Date</th>

            <th>Number</th>

            <th>Departure</th>

            <th>Destination</th>

            <th>Airline</th>

            <th>Price</th>

            <th>Availability</th>
          </tr>
          <% for flight in @results %>
          <% var1 = flight.available_seats.to_i%>
          <% var2 = flight.capacity.to_i%>
          <% var3 = flight.ticket_cost.to_i%>
          <tr>
            <td><%= flight.flight_date %></td>

            <td><%= flight.flight_number %></td>

            <td><%= flight.departure.departure_city %></td>

            <td><%= flight.destination.destination_city %></td>

            <td><%= flight.airline.airline_name %></td>

            <td>£<%= flight.flight_discount(var1, var2, var3) %></td>

            <td><%= flight.seat_availability(var1, var2) %></td>

            <td>
              <form method="post" action="/flights/<%= flight.id %>/add">
                <input type="hidden" name="_method" value="put"/>
                <button class="button2">Add to Itinerary</button>
              </form>
            </td>

          </td>
        </tr>
        <% end %>
      </table>

    </main>
    <aside class="sidebar-first"></aside>
    <aside class="sidebar-second"></aside>
  </div>
</section>
</div>
